{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "plugins": [
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-syntax-import-assertions"
      ]
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["coverage/**/*.js", "dist/**/*.js", "docs/**/*.js"],
  "overrides": [
    {
      "files": ["index.d.ts"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "sourceType": "module",
        "warnOnUnsupportedTypeScriptVersion": false
      },
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    },
    {
      "files": ["src/**/*.ts", "src/**/*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/stylistic"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "sourceType": "module",
        "warnOnUnsupportedTypeScriptVersion": false
      },
      "plugins": ["react", "react-hooks", "@typescript-eslint"]
    },
    {
      "files": ["src/**/*.test.ts", "src/**/*.test.*tsx"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/ban-types": "off",
        "jest/expect-expect": "off"
      }
    }
  ]
}
