{
  "$schema": "https://json.schemastore.org/swcrc",
  // "minify": true,
  "exclude": [".*\\.test.tsx"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": true
    },
    "baseUrl": "../",
    "paths": {
      "@index": ["./index.d.ts"],
      "@tunnel": ["./src/helpers/tunnel/index.js"],
      "@context": ["./src/context/index.js"],
      "@context/*": ["./src/context/*"],
      "@header": ["./src/header/index.js"],
      "@helpers/*": ["./src/helpers/*"],
      "@loader": ["./src/loader/index.js"],
      "@loader/*": ["./src/loader/*"],
      "@tools/*": ["./src/tools/*"],
      "@store": ["./src/store/index.js"],
      "@store/*": ["./src/store/*"],
      "@style/*": ["./src/style/*"]
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2022"
  },
  "module": {
    "type": "commonjs"
  }
}
